<?xml version="1.0" encoding="utf-8"?>
<!--
  ~ This file is part of Material Audiobook Player.
  ~
  ~ Material Audiobook Player is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or any later version.
  ~
  ~ Material Audiobook Player is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Material Audiobook Player. If not, see <http://www.gnu.org/licenses/>.
  ~ /licenses/>.
  -->

<manifest
    package="de.ph1b.audiobook"
    xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="com.android.vending.BILLING"/>

    <application
        android:name=".injection.App"
        android:allowBackup="true"
        android:backupAgent=".persistence.CustomBackupAgent"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/PlaceHolder"
        tools:ignore="UnusedAttribute">

        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIjeSB6A5JNJpRSV5yPq22PvZtl95fWDzDIuk63w"/>

        <activity
            android:name=".activity.BookActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".activity.BookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BookActivity"/>
        </activity>

        <activity
            android:name=".view.FolderOverviewActivity"
            android:label="@string/audiobook_folders_title"
            android:parentActivityName=".activity.SettingsActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.SettingsActivity"/>
        </activity>

        <activity
            android:name=".activity.DependencyLicensesActivity"
            android:label="@string/license_activity_title"/>

        <activity
            android:name=".activity.NoExternalStorageActivity"
            android:label="@string/no_external_storage_action_bar_title"/>

        <activity
            android:name=".view.FolderChooserActivity"
            android:parentActivityName=".activity.BookActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activity.BookActivity"/>
        </activity>

        <service
            android:name=".playback.BookReaderService"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </service>

        <service android:name=".playback.WidgetUpdateService"/>

        <receiver android:name="android.support.v4.media.session.MediaButtonReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".receiver.BaseWidgetProvider"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
    </application>

</manifest>
