<?xml version="1.0" encoding="utf-8"?><!--
  ~ This file is part of Material Audiobook Player.
  ~
  ~ Material Audiobook Player is free software: you can redistribute it and/or modify
  ~ it under the terms of the GNU General Public License as published by
  ~ the Free Software Foundation, either version 3 of the License, or any later version.
  ~
  ~ Material Audiobook Player is distributed in the hope that it will be useful,
  ~ but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~ MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~ GNU General Public License for more details.
  ~
  ~ You should have received a copy of the GNU General Public License
  ~ along with Material Audiobook Player. If not, see <http://www.gnu.org/licenses/>.
  ~ /licenses/>.
  -->

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="de.ph1b.audiobook">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <application
        android:name=".injection.App"
        android:allowBackup="true"
        android:backupAgent=".persistence.internals.CustomBackupAgent"
        android:fullBackupContent="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning,UnusedAttribute">

        <!-- Disabled due to compliance problems
        <meta-data
            android:name="com.google.android.gms.car.application"
            android:resource="@xml/automotive_app_desc"/>
            -->

        <!-- auto notification -->
        <meta-data
            android:name="com.google.android.gms.car.notification.SmallIcon"
            android:resource="@drawable/ic_notification"
            tools:ignore="ManifestResource"/>

        <!-- auto capabilities -->
        <meta-data
            android:name="com.google.android.backup.api_key"
            android:value="AEdPqrEAAAAIjeSB6A5JNJpRSV5yPq22PvZtl95fWDzDIuk63w"/>

        <!-- auto theme -->
        <meta-data
            android:name="com.google.android.gms.car.application.theme"
            android:resource="@style/Theme.AppCompat.DayNight"/>

        <activity
            android:name=".features.BookActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Main">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name=".features.settings.SettingsActivity"
            android:label="@string/action_settings"
            android:parentActivityName=".features.BookActivity"
            android:theme="@style/AppTheme.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.BookActivity"/>
        </activity>

        <activity
            android:name=".features.folder_overview.FolderOverviewActivity"
            android:label="@string/audiobook_folders_title"
            android:parentActivityName=".features.settings.SettingsActivity"
            android:theme="@style/AppTheme.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.settings.SettingsActivity"/>
        </activity>

        <activity
            android:name=".features.external_storage_missing.NoExternalStorageActivity"
            android:label="@string/no_external_storage_action_bar_title"
            android:theme="@style/AppTheme.Main"/>

        <activity
            android:name=".features.folder_chooser.FolderChooserActivity"
            android:parentActivityName=".features.BookActivity"
            android:theme="@style/AppTheme.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.BookActivity"/>
        </activity>

        <activity
            android:name=".features.imagepicker.ImagePickerActivity"
            android:parentActivityName=".features.BookActivity"
            android:theme="@style/AppTheme.Main">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".features.BookActivity"/>
        </activity>

        <service
            android:name=".playback.BookReaderService"
            android:exported="true"
            tools:ignore="ExportedService">

            <intent-filter>
                <action android:name="android.media.browse.MediaBrowserService"/>
            </intent-filter>

        </service>

        <service android:name=".features.widget.WidgetUpdateService"/>

        <receiver android:name=".playback.events.MediaEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.MEDIA_BUTTON"/>
            </intent-filter>
        </receiver>

        <receiver
            android:name=".features.widget.BaseWidgetProvider"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE"/>
            </intent-filter>

            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_info"/>
        </receiver>
    </application>

</manifest>
