*.iml
*.apk
.DS_Store
captures
audiobook/build
build
.gradle/
*~
*.log
local.properties
MaterialAudiobookPlayer.iml
.kobalt
reports
mainframer.sh
.mainframer
artifacts
testResults
Gemfile.lock
releases
.transifexrc
/plugins/.idea/workspace.xml
/.kotlin
/.idea/deviceManager.xml
