*.iml
*.apk
.DS_Store
captures
audiobook/build
build
.gradle/
*~
*.log
local.properties
MaterialAudiobookPlayer.iml
.kobalt
reports
*.mp3
.idea/
mainframer.sh
.mainframer
*.keystore
signing.properties
artifacts
