*.iml
*.apk
.DS_Store
captures
audiobook/build
build
.gradle/
*~
*.log
local.properties
MaterialAudiobookPlayer.iml
.kobalt
reports
mainframer.sh
.mainframer
*.keystore
artifacts
testResults
Gemfile.lock
releases
.transifexrc
