<manifest xmlns:tools="http://schemas.android.com/tools"
  xmlns:android="http://schemas.android.com/apk/res/android">

  <application>

    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">

      <meta-data
        android:name="voice.logging.debug.DebugLogWriterInitializer"
        android:value="androidx.startup" />
    </provider>

  </application>
</manifest>
