<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Feature graphic</title>
    <link href="../styles/tokens.css" rel="stylesheet" />
    <link href="../styles/feature-graphic.css" rel="stylesheet" />
  </head>
  <body data-asset="feature-graphic">
    <div class="canvas feature-graphic" id="canvas">
      <div class="left">
        <div aria-hidden="true" class="logo">
          <img alt="" src="/logo.svg" />
        </div>
        <h1 class="headline">Voice</h1>
        <p class="tagline">Audiobooks, the way they should be</p>
      </div>
      <div class="right">
        <div class="phone-frame">
          <img alt="" />
        </div>
      </div>
    </div>
    <script src="./template.ts" type="module"></script>
  </body>
</html>
