<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

  <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
  <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
  <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

  <application>
    <service
      android:name="voice.core.audiobookshelf.download.AudiobookshelfDownloadService"
      android:exported="false"
      android:foregroundServiceType="dataSync">
      <intent-filter>
        <action android:name="androidx.media3.exoplayer.downloadService.action.RESTART" />
        <category android:name="android.intent.category.DEFAULT" />
      </intent-filter>
    </service>
    <receiver
      android:name="voice.core.audiobookshelf.download.DownloadActionReceiver"
      android:exported="false" />
  </application>

</manifest>
