/shelf
/androidTestResultsUserPreferences.xml
# Default ignored files
/workspace.xml
/libraries
/caches
vcs.xml
kotlinScripting.xml
/jarRepositories.xml
/compiler.xml
/assetWizardSettings.xml
/gradle.xml
/misc.xml
/deploymentTargetDropDown.xml
/.name
/kotlinc.xml
/modules.xml
/deploymentTargetSelector.xml
/other.xml
/studiobot.xml
/runConfigurations.xml
