name: Build and Deploy Pages

on:
  push:
    branches: [ main ]
    paths:
      - 'docs/**'
      - mkdocs.yml
      - CONTRIBUTING.md
      - PRIVACY.md
      - LICENSE.md
      - Pipfile
  workflow_dispatch:
    inputs:
      deploy:
        description: 'Deploy to GitHub Pages'
        type: boolean
        default: true

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5
      - uses: actions/setup-python@e797f83bcb11b83ae66e0230d6156d7c80228e7c # v6
        with:
          python-version: '3.x'
      - run: pip install pipenv
      - run: pipenv install
      - run: pipenv run mkdocs build --strict
      - uses: actions/upload-pages-artifact@7b1f4a764d45c48632c6b24a0339c27f5614fb0b # v4
        with:
          path: site/

  deploy:
    if: github.event_name == 'push' || inputs.deploy != 'false'
    runs-on: ubuntu-latest
    needs: build
    environment:
      name: github-pages
    steps:
      - uses: actions/deploy-pages@d6db90164ac5ed86f2b6aed7e0febac5b3c0c03e # v4
        id: deployment
