name: Main

on: [ push, pull_request ]
env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx3072m -XX:MaxMetaspaceSize=1g -Xms512m -XX:+HeapDumpOnOutOfMemoryError"
jobs:
  test:
    timeout-minutes: 60
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - run: ./gradlew allUnitTests
      - run: ./gradlew ktlintCheck
      - run: ./gradlew app:lintDebug

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: "Artifacts"
          path: |
            artifacts/
            app/build/reports/*.html

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v2
        if: always()
        with:
          report_paths: '**/test-results/**/TEST-*.xml'

  release:
    timeout-minutes: 60
    runs-on: ubuntu-latest
    needs: test
    if: startsWith(github.ref, 'refs/tags')
    env:
      ANDROID_PUBLISHER_CREDENTIALS: ${{ secrets.ANDROID_PUBLISHER_CREDENTIALS }}
      SIGNING_KEYSTORE: ${{ secrets.SIGNING_KEYSTORE }}
      SIGNING_PROPERTIES: ${{ secrets.SIGNING_PROPERTIES }}
      GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
    steps:
      - uses: actions/checkout@v3

      - run: echo $SIGNING_KEYSTORE | base64 --decode > signing/actual/signing.keystore
      - run: echo $SIGNING_PROPERTIES > signing/actual/signing.properties
      - run: ./gradlew app:publishReleaseBundle -PenableCrashlytics
