name: CI/CD

on:
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main

env:
  GRADLE_OPTS: -Dorg.gradle.jvmargs="-Xmx3072m -XX:MaxMetaspaceSize=1g -Xms512m -XX:+HeapDumpOnOutOfMemoryError"
  ANDROID_PUBLISHER_CREDENTIALS: ${{ secrets.ANDROID_PUBLISHER_CREDENTIALS }}
  SIGNING_KEYSTORE_PLAY: ${{ secrets.SIGNING_KEYSTORE }}
  SIGNING_PROPERTIES_PLAY: ${{ secrets.SIGNING_PROPERTIES }}
  SIGNING_KEYSTORE_GITHUB: ${{ secrets.SIGNING_KEYSTORE_GITHUB }}
  SIGNING_PROPERTIES_GITHUB: ${{ secrets.SIGNING_PROPERTIES_GITHUB }}
  GOOGLE_SERVICES: ${{ secrets.GOOGLE_SERVICES }}
  VOICE_USE_PROPRIETARY_LIBRARIES: "true"

jobs:
  test:
    if: github.event_name == 'push' || github.event_name == 'pull_request'
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@0ad4b8fadaa221de15dcec353f45205ec38ea70b # v4

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Set up JDK
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Signing
        run: ./ci_signing_setup.sh

      - name: Test
        run: ./gradlew voiceUnitTest lintKotlin :app:lintPlayProprietaryDebug :app:assemblePlayProprietaryDebug :scripts:build

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: "Artifacts"
          path: |
            artifacts/
            app/build/reports/*.html

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          report_paths: '**/test-results/**/TEST-*.xml'

  release:
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags/')
    timeout-minutes: 60
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@44c2b7a8a4ea60a981eaca3cf939b5f4305c123b

      - name: Set up JDK
        uses: actions/setup-java@v4.2.1
        with:
          distribution: 'zulu'
          java-version: 17

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v3

      - name: Setup Signing
        run: ./ci_signing_setup.sh

      - name: Publish to Google Play
        run: ./gradlew :app:publishPlayProprietaryReleaseBundle

      - name: Build Github Proprietary APK
        run: ./gradlew :app:assembleGithubProprietaryRelease

      - name: Build Github Proprietary APK
        run: ./gradlew :app:assembleGithubLibreRelease

      - name: Github Release
        uses: softprops/action-gh-release@v2
        with:
          generate_release_notes: true
          files: |
            app/build/outputs/apk/githubProprietary/release/app-github-proprietary-release.apk
            app/build/outputs/apk/githubLibre/release/app-github-libre-release.apk
